<form [formGroup]="form" (ngSubmit)="SubmitForm()" #frm="ngForm">
    <div class="container">
        <div class="form-group">
            <label for="New Password" type="text">New Password</label>
            <input type="password" class="form-control" formControlName="newPassword">

            <div class="alert alert-danger" *ngIf="this.form.get('newPassword').touched && this.form.get('newPassword').invalid">
                <div *ngIf="this.form.get('newPassword').errors.required">
                    Password required.
                </div>

                <div *ngIf="newpass.errors.minlength">
                    Password should be at least 5 characters.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="Confirm Password" type="text">Confirm Password</label>
            <input type="password" class="form-control" formControlName="confPassword">

            <div class="alert alert-danger" *ngIf="this.form.get('confPassword').touched && form.invalid && form.errors.comparepass">               
                Confirm password did not match.                
            </div>
        </div>

        <button class="btn btn-primay" [disabled]="form.invalid">Submit</button>
    </div>
</form>

{{form.value | json}}